/* 定义自定义中文字体 */
@font-face {
  font-family: "筑紫A丸";
  src: 
    /* 优先尝试从远程 CDN 加载（按格式优先级排序） */
    url("https://github.com/snowlinouo/snowlin-blog/raw/refs/heads/main/docs/public/fonts/筑紫A丸/TsukuARdGothicStd-Regular.woff2") format("truetype"),
    url("https://github.com/snowlinouo/snowlin-blog/raw/refs/heads/main/docs/public/fonts/筑紫A丸/TsukuARdGothicStd-Regular.woff2") format("woff2"),
    url("https://github.com/snowlinouo/snowlin-blog/raw/refs/heads/main/docs/public/fonts/筑紫A丸/TsukuARdGothicStd-Regular.woff2") format("woff"),
    /* 远程加载失败后，回退到本地字体 */
    url("/fonts/筑紫A丸/TsukuARdGothicStd-Regular.woff2") format("truetype"),
    url("/fonts/筑紫A丸/TsukuARdGothicStd-Regular.woff2") format("woff2"),
    url("/fonts/筑紫A丸/TsukuARdGothicStd-Regular.woff2") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

// @font-face {
//     font-family: "霞鶩文楷";
//     src: 
//       /* 优先尝试从远程 CDN 加载（按格式优先级排序） */
//       url("https://github.com/snowlinouo/snowlin-blog/raw/refs/heads/main/docs/public/fonts/霞鶩文楷/LXGWWenKaiMonoTC-Regular.ttf") format("truetype"),
//       url("https://github.com/snowlinouo/snowlin-blog/raw/refs/heads/main/docs/public/fonts/霞鶩文楷/LXGWWenKaiMonoTC-Regular.ttf") format("woff2"),
//       url("https://github.com/snowlinouo/snowlin-blog/raw/refs/heads/main/docs/public/fonts/霞鶩文楷/LXGWWenKaiMonoTC-Regular.ttf") format("woff"),
//       /* 远程加载失败后，回退到本地字体 */
//       url("/fonts/霞鶩文楷/LXGWWenKaiMonoTC-Regular.ttf") format("truetype")
//       url("/fonts/霞鶩文楷/LXGWWenKaiMonoTC-Regular.ttf") format("woff2"),
//       url("/fonts/霞鶩文楷/LXGWWenKaiMonoTC-Regular.ttf") format("woff");
//     font-weight: 300;
//     font-style: normal;
//     font-display: swap;
//   }

/* 应用字体 */
:root {
    --vp-font-family-base: "筑紫A丸", "PingFang TC", sans-serif; //base：影响正文、标题等文本。 
    --vp-font-family-mono: "consolas", "JetBrains Mono", "Cascadia Mono", "Not Sans TC", monospace; //mono：影响代码块的等宽字体。  
  }